---
import Base from '@layouts/Base.astro'
---

<Base title="Profiles - Boji Bote" bodyClass="max-w-screen-md mx-auto">
  <header class="text-center p-4">
    <h1>Boji Bote</h1>
    <p class="mb-2">Software Engineer and Designer</p>
    <a class="p-1 flex items-center justify-center" href="https://github.com/6-000-000" target="_blank">
      <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z" fill="currentColor"/></svg>
    6-000-000
    </a>
  </header>

  <main class="grid grid-cols-2 md:grid-cols-3 gap-4 p-4">
    <section
      class="col-span-full grid grid-cols-4 md:grid-cols-8 gap-4"
    >
      <div class="col-span-2">
        <div class="text-3xl font-bold">10 years</div>
        <div>Graphic designer and illustrator</div>
        <div><small class="text-zinc-500">2006&ndash;2016</small></div>
      </div>

      <div class="col-span-2">
        <div class="text-3xl font-bold">10 years</div>
        <div>UI, UX, and interaction designer</div>
        <div><small class="text-zinc-500">20011&ndash;present</small></div>
      </div>

      <div class="col-span-2">
        <div class="text-3xl font-bold">8 years</div>
        <div>Frontend software engineer</div>
        <div><small class="text-zinc-500">2013&ndash;present</small></div>
      </div>

      <div class="col-span-2">
        <div class="text-3xl font-bold">4 years</div>
        <div>Fullstack software engineer</div>
        <div><small class="text-zinc-500">2017&ndash;present</small></div>
      </div>
    </section>

    <section
      class="col-span-full
             md:col-span-2"
    >
      <h2>Summary</h2>
      <p>As a graphic designer and illustrator, I did one or a combination of three things: draw, manipulate, and layout. As a UI, UX, and interaction designer, I do the same. As someone who engineers and designs software, I still draw, manipulate, and layout. To draw means to do things by hand emphasizing strong fundamentals and a solid understanding of theory. To manipulate involves transformation, abstraction, and simplification. To layout is an act of standardization, documentation, and integration. From pencil to ink, pixels to bytes, functions to patterns, the mediums will always change but the practice remains the same. My experience in this practice allows me to apply a more holistic design mindset to problem solving, ideation, and iteration.</p>
    </section>

    <section
      class="col-span-full md:col-span-1"
    >
      <h2>Tech Stack</h2>
      <p>Typescript/Javascript (ES6), Svelte, React, Vue, tailwindcss, serverless (with aws-cdk & aws-sdk), GraphQL (via apollographql, express, and aws-appsync), DynamoDB, FaunaDB, Postgres</p>
    </section>

    <section class="col-span-full">
      <h2>Work experience</h2>
      
      <div class="grid grid-cols-4 gap-3 mb-3">
        <div class="col-span-full md:col-span-1">
          <div>Graphic designer and illustrator</div>
          <div><small class="text-zinc-500">2006&ndash;March 2016</small></div>
        </div>

        <div class="col-span-full md:col-span-3">
          <p>My visual creativity was molded working in print. I worked on flyers, books, posters, and magazines. I created style guides and helped companies communicate their brands. It was in this practice that I learned good design is invisible. Making things "look good" was merely a side effect, never a goal.</p>
        </div>
      </div>

      <div class="grid grid-cols-4 gap-3 mb-3">
        <div class="col-span-full md:col-span-1">
          <div>Mobile app designer at Samatosa</div>
          <div><small class="text-zinc-500">October 2011&ndash;March 2014</small></div>
        </div>

        <div class="col-span-full md:col-span-3">
          <p>My first real exposure to tech and startups. Unlike print where content is set in stone, content (and more importantly, context) in apps is constantly shifting. People jump from one view (or app) to another in order to achieve the goals laid out by a product or service. It is very easy to get stuck polishing one part of an app's visuals to the detriment of the overall experience. One may end up with the world's best looking dashboard only for it to be rendered useless by user error. And that's how I learned the value of prototyping, testing, and user-centric design. I cut my teeth in UI, UX, and interaction design working here. I also eventually began my frontend software development journey by creating HTML/CSS/JS from the designs I made. Besides doing wireframes, prototypes, and mockups for a wide variety of clients in different industries, I worked with software engineers and project managers to create living design documents. These documents visualize otherwise obscure software features and highlight user workflows. It helped us track and finalize the numerous simultaneous projects we took on as a mobile app development firm.</p>
        </div>
      </div>

      <div class="grid grid-cols-4 gap-3 mb-3">
        <div class="col-span-full md:col-span-1">
          <div>Creative professional in Melbourne, Australia</div>
          <div><small class="text-zinc-500">June 2014&ndash;April 2016</small></div>
        </div>

        <div class="col-span-full md:col-span-3">
          <p>Worked as a graphic designer and illustrator for print and web. Did various freelance jobs in the same role. I also worked for a bit as an app designer at <a href="https://tigerspike.com/contact/melbourne/">Tigerspike</a>. Aside from the valuable life lessons taken from living alone in one of the world's central hubs for music and art, my experience in Melbourne gave me the resolve and motivation to fully transition to software engineering. I wanted to contribute more to the products and services I was helping grow, so I needed to learn to actually build what I drew, manipulated, and laid out. Learning to build digital products and services changed my view of design. Great design, in my eyes at least, was now the result of constant thoughtful collaboration and experimentation. Nothing really ever is done. It only gets better or worse. And I wanted to make things better. So when I flew back home, it became my mission to pursue great design as a software engineer and designer.</p>
        </div>
      </div>

      <div class="grid grid-cols-4 gap-3 mb-3">
        <div class="col-span-full md:col-span-1">
          <div>Software engineer at <a href="https://www.poplarhomes.com">Poplar Homes</a></div>
          <div><small class="text-zinc-500">July 2017&ndash;April 2021</small></div>
        </div>

        <div class="col-span-full md:col-span-3">
          <p>My first year was spent mostly implementing user interfaces for rental property management. I had enriching and insightful collaborations with designers, copywriters, social media strategists, and online marketers. My succeeding years were spent progressing from a junior heavy in frontend skills to a well-rounded senior fullstack software engineer. During that time, I took ownership of whole feature sets and products, managed a small team, spearheaded the development of a chatbot, and introduced new concepts, tech, and ways of thinking. I also had the privelage to work directly with executives, property managers, and investors in all stages of different projects.</p>
        </div>
      </div>

      <div class="grid grid-cols-4 gap-3">
        <div class="col-span-full md:col-span-1">
          <div>Solo dev at <a href="https://delsur.io">Del Sur</a></div>
          <div><small class="text-zinc-500">April 2021&ndash;present</small></div>
        </div>

        <div class="col-span-full md:col-span-3">
          <p>Similar to a solo dev in the video games industry, I design and implement end to end. Instead of producing games, I produce software for businesses within my locale. Del Sur is my way contributing my knowledge and wisdom to the community. This has granted me exposure to and practice in the API economy, infrastructure as code, cloud computing, systems design, domain-driven design, and different kinds of software architecture.</p>
        </div>
      </div>
    </section>

    <section class="col-span-full">
      <h2>Notable projects</h2>
      
      <div class="grid grid-cols-4 gap-3 mb-3">
        <div class="col-span-full md:col-span-1">
          <div><a href="/davaolistings/" target="_blank">davaolistings.com</a></div>
          <div class="leading-none"><small class="text-zinc-500">Real estate listings web app & content management system</small></div>
        </div>

        <div class="col-span-full md:col-span-3">
          <p>Made for real estate agents who wanted to migrate to a digital workflow. To help them keep track of their listings and move away from the pen and paper methods, I designed and implemented a simple CMS for them to use on their phones. Phone access was important to them, because it was easier to take photos and upload other details on the spot when they did site visits.</p>
        </div>
      </div>

      <div class="grid grid-cols-4 gap-3 mb-3">
        <div class="col-span-full md:col-span-1">
          <div><a href="/corridas/" target="_blank">corridas.ph</a></div>
          <div class="leading-none"><small class="text-zinc-500">E-commerce storefront & management system</small></div>
        </div>

        <div class="col-span-full md:col-span-3">
          <p>Created a fast and SEO-friendly storefront using <a href="https://www.youtube.com/watch?v=dsTXcSeAZq8" target="_blank">Astro</a>. Designed and implemented systems for managing: orders, fulfillment, customers, inventory, and products. Integrated analytics. Designed and implemented an API, SDK, and design system.</p>
        </div>
      </div>
    </section>

    <section
      class="col-span-full"
    >
      <h2>Currently learning</h2>
      <ul>
        <li><a href="https://tezos.com/" target="_blank">Tezos blockchain</a> and smart contracts with <a href="https://ligolang.org/docs/intro/introduction" target="_blank">Cameligo</a></li>
        <li><a href="https://go.dev/" target="_blank">Golang</a></li>
        <li><a href="https://threejs.org/" target="_blank">three.js</a></li>
        <li><a href="https://learning.edx.org/course/course-v1:MITx+Bootcamp1+2T2021/home" target="_blank">entrepreneurship</a></li>
      </p>
    </section>
  </main>
</Base>
