---
import Base from '@layouts/Base.astro'
---

<Base title="Work - davaolistings.com" bodyClass="max-w-screen-md mx-auto">
  <header class="text-center p-4">
    <h1>
      Data Table Design Pattern and Implementation
    </h1>
    <p>Here, I will write a detailed UI and UX guide for interacting with tabular data.</p>
    <p>Coming soon...</p>
  </header>
</Base>
