---
import Base from '@layouts/Base.astro'
---

<Base title="Work - davaolistings.com" bodyClass="max-w-screen-md mx-auto">
  <header class="text-center p-4">
    <h1>
      Implementing a CQRS Architecture
    </h1>
    <p>Insights and code examples of a CQRS architecture built on AWS.</p>
    <p>Coming soon...</p>
  </header>
</Base>
